[2020-11-20 18:50] Shidell opened #1 "0.1.0.0 Results"
Please leave your results, including system information (Make/Model & GPU) here.

[2020-11-20 18:50] Shidell opened #2 "Windows Error Reports"
Please leave Windows Error reports for RTX 3000 & RX 6000 series GPUs here for review.

[2020-11-20 21:31] brycenoland opened #3 "no Graphics Amplifier folder"
I have AGA successfully running with RTX 2080 TI, but I don't have the Alienware\Graphics Amplifier in program files or program files(x86) directories.  The GraphicsAmplifier.Domain.dll and GraphicsAmplifierServiceController.exe exists in C:\Program Files\Alienware\Alienware Command Center on my system.

[2020-11-20 21:37] Shidell commented on #3
Thanks! I'll work on an update to probe those directories by default as well. In the meantime, if you copy OpenCaldera.exe into C:\Program Files\Alienware\Alienware Command Center, it should discover those libraries automatically and run as expected. Can you verify?

[2020-11-20 21:52] brycenoland commented on #1
M17 R3 with EVGA 2080 TI XC hybrid

OpenCaldera 0.1.0.0

Reading Alienware Graphics Amplifier BIOS Properties:

Is Present:                     True
Is Connected:                   True
Is Card Type Supported:         True
Is Restart Pending:             False
Is Undock Request Set:          False
Is Surprise Removal Set:        False
MState:                         M7

PS...This AGA was running w

[2020-11-20 21:53] brycenoland commented on #3
I tried it in the Alienware Command Center dir, but it still wouldn't work...I made some code changes and compiled it myself and posted my output.

[2020-11-20 21:57] Shidell commented on #1
Thanks for verifying and posting output, and interesting that you had additional difficulty in getting the AGA working on your R3. Do you recall any of the extra steps (work arounds) you employed to get things working?

Based on your issue feedback or not having a "Graphics Amplifier" directory, I'm assuming you never installed the AGA software?

[2020-11-20 22:10] brycenoland commented on #1
I believe that Dell included the AGA software in the Command Center install a while ago.  The Dell download site states that the Alienware External Graphics Amplifier Software is not compatible with my system.  I would imagine it would install and work, but I just never tried.

As for getting it running, I could never get the card to recognize properly with the M17 R3 running Win v2004 until I ran

[2020-11-20 22:17] Shidell commented on #1
That's very interesting—it leads to me believe that perhaps we should be probing the AWCC software and libraries instead of the AWGA stuff.

Could you do me a favor and take a screenshot of the Device Manager on the generic PCI Device, and capture it's error as well? That might be a clue towards to the AGA and how it's recognized in the device tree.

[2020-11-20 22:50] Shidell commented on #3
This should be corrected as of the 0.1.1.0 build.

[2020-11-20 22:50] #3 closed

[2020-11-20 23:26] Beergamote commented on #1
Alienware 15R3 with AGA loaded with an ASUS GeForce RTX 2080 Ti TURBO-RTX2080TI-11G

OpenCaldera 0.1.1.0
Reading Alienware Graphics Amplifier BIOS Properties:
Is Present:                         True
Is Connected:                    True
Is Card Type Supported:    True
Is Restart Pending:            False
Is Undock Request Set:     False
Is Surprise Removal Set:    False
MState:

[2020-11-20 23:52] brycenoland commented on #1
![image](https://user-images.githubusercontent.com/61287542/99859473-5d234200-2b4d-11eb-8fd3-1ec8d49525b2.png)

I looked through the AWCC code and it is just using the same AGA dlls for the interfaces and launches the GraphicsAmplifierServiceController.exe itself.  I did notice that if you have a newer system ie.

private static readonly IList<string> unsupportedWMIModels = (IList<string>) new Lis

[2020-11-21 15:06] Bitarisu commented on #1
M15 R3 with PNY GeForce RTX 2080 Ti 11GB XLR8 OC

OpenCaldera 0.1.0.0

Reading Alienware Graphics Amplifier BIOS Properties:

Is Present: True
Is Connected: True
Is Card Type Supported: True
Is Restart Pending: False
Is Undock Request Set: False
Is Surprise Removal Set: False
MState: M7

P.S. Had to replace PSU, it rattled when under load, I replaced it with a Corsair Builder CX650M. Works fine no

[2020-11-21 20:43] Shidell commented on #1
@Beergamote Thanks!

[2020-11-21 20:44] Shidell commented on #1
@Bitarisu Thanks!

[2020-11-21 20:48] Shidell commented on #1
@brycenoland Can you open the 'Details' tab and get me the list of Hardware & Compatible IDs for that device?:

![image](https://user-images.githubusercontent.com/13051323/99887237-4c83d200-2c08-11eb-9870-4fcf1052ad00.png)
![image](https://user-images.githubusercontent.com/13051323/99887242-53124980-2c08-11eb-9088-e0fe42bffe62.png)

I found the GraphicsAmplifierSWBiosSupportAPI.dll you're looking

[2020-11-22 02:52] brycenoland commented on #1
![image](https://user-images.githubusercontent.com/61287542/99892535-f8421780-2c32-11eb-8bf1-e3211c064f3d.png)
![image](https://user-images.githubusercontent.com/61287542/99892541-04c67000-2c33-11eb-8704-1d3f79b1e8ac.png)

Thanks...I'm learning....It looks like its the USB type C on my 2080 TI that is not being recognized.

[2020-11-22 07:51] pr0xy26 commented on #1
Alienware 17 R4 with AGA Asus dual RTX 3070 O8G

OpenCaldera 0.1.0.0

Reading Alienware Graphics Amplifier BIOS Properties:

Is Present: True
Is Connected: True
Is Card Type Supported: True
Is Restart Pending: False
Is Undock Request Set: False
Is Surprise Removal Set: False
MState: M7

[2020-11-22 08:24] pr0xy26 commented on #1
![11](https://user-images.githubusercontent.com/74852736/99898753-00429b80-2cb5-11eb-9834-ca653e60da34.jpg)

I tried to pass the 3dmark test but got old values with unknown hardware. By the way, the card heats up quite a lot, even though the fans do not spin

[2020-11-23 17:50] DelphiDie commented on #1
Alienware 17 R2 with AGA EVGA GeForce GTX 1080 FTW

OpenCaldera 0.1.1.0

Reading Alienware Graphics Amplifier BIOS Properties:

Is Present: True
Is Connected: True
Is Card Type Supported: True
Is Restart Pending: False
Is Undock Request Set: False
Is Surprise Removal Set: False
MState: M5

[2020-11-27 14:55] Riebart opened #4 "[Speculation] 30-series compatibility with NVidia Optimus"
I posted on the [Alienware subreddit](https://www.reddit.com/r/Alienware/comments/k1vau3/speculation_on_aga_and_30series_nvidia_cards/), but my speculation right now is that the compatibility issue is related to NVidia Optimus.

I don't have any of the new cards myself either, so I too am hoping some folks can contribute some information.

Dropping this here as an issue as it is related to the iss

[2020-11-27 18:57] Shidell commented on #4
Thanks for the head's up, and it's an interesting speculation—the difficulty I've seen so far is that when attaching a 3000 series via the AGA, it'll enumerate as another device in the Device Tree, without disabling the dGPU, for example.

If I'm understanding your hypothesis correctly, you're expecting attaching a properly-supported (e.g. Optimus-supported via Drivers) 3000 series should actually

[2020-11-27 23:21] Riebart commented on #4
Originally, that was my expectation because it matched my experiences with my 15 R3 with 6820HK, 1070, and an EVGA 1070 in the AGA. Specifically, my guess is that the drivers are failing to load because of Optimus/AMD XConnect (which would be for the R6000 series) issues..

Now, however, I have some new information that makes me question some of this. I scraped a bunch more data from 3DMark's resu

[2020-11-27 23:41] Shidell commented on #4
Yeah, this seems to mimic the results I've seen—primarily that any GPU loaded in the AGA is just another device in the Device Tree.

I do have some info that suggests it could be Nvidia's drivers to blame, and I'm working on aggregating that into an update for the main page of the project.

I really wish I could get my hands on an RX 6000 series to test with, because if they work, then I'd point s

[2020-11-27 23:46] Riebart commented on #4
Yeah. I'm going to grab a friend's 1050Ti to test with.

The 15R3 I have has a mux switch, which lets you completely disable the iGPU. This will let me test to see how reproducible I can make the device configurations, by design, as opposed to hoping the AGA figures it out on its own.

No iGPU was the device configuration that was visible in that one Reddit post of the guy getting the 3070 working

[2020-11-28 00:09] Shidell commented on #4
Awesome, the mux switch is an interesting idea and I can't test that on my m15.

Any chance you're near Milwaukee?

[2020-11-28 00:14] Riebart commented on #4
Nope, Canada. Sorry. 😁

I'll let you know how it goes in the next 24 hours or so.

[2020-11-28 00:36] Shidell commented on #4
Haha, sounds good.

[2020-11-28 03:25] Riebart commented on #4
For what it's worth, I pulled the same dataset for GTX 1070 attached to Alienware laptops, and it's the same story: _Almost_ everything lines up, except there's always a few outliers. I'll need a card to put into the AGA to start testing this (e.g. maybe the AGA disables whatever the mux switch does?)

[2020-11-28 05:33] Shidell commented on #4
It's totally possible that the firmware/setup on those models (disabling the dGPU) has something to do with it.

I'm speculating that it's associated; the driver install is what fails, citing not enough resources, so if Nvidia is doing something under the hood in their drivers to handle Optimus solutions, that would make some sense.

I really need to source an RX 6000 series, though, because if th

[2020-11-28 05:50] Riebart commented on #4
[This link about the Code 31 related to Razer eGPUa](https://egpu.io/forums/pc-setup/hot-plugging-troubleshooting-error-code-31/) has some good stuff.

Looks like on their case they couldn't hot plug the TB3 enclosure would the Razer RGB programs were running. That is, the RGB controller was flaking out but the issue manifested as the GPU not coming online.

[2020-11-29 02:59] Shidell commented on #4
I was able to purchase an RX 6800, and it's working fine in the AGA. I made a big update to the pinned post on the Alienware subreddit with my thoughts, just wanted to post here so you get an update.

https://www.reddit.com/r/Alienware/comments/jxvnga/project_opencaldera_exploring_adding_unofficial/

[2020-11-29 03:17] Riebart commented on #4
This is awesome news! Thanks for the update. 👍

[2020-11-29 03:32] Shidell commented on #4
Sure thing. :)

[2020-11-30 15:08] Riebart commented on #4
So, for what it's worth, I was able to test my theories on how the intel graphics works with the AGA. Note that I don't have a GSync display (or the 300Hz display on the new R3 models), which are different _again_, but I've got a mux switch.

- Mux switch "off", so internal panel connected to iGPU, and internal dGPU connected via Optimus.
  - Without AGA: The device tree shows the iGPU and interna

[2020-11-30 17:09] Shidell commented on #4
I think it'll be interesting to see how this works with an RTX 3000 series, as I don't have a MUX switch and can't test if a change frees/changes how Nvidia's driver install views resources and would allow it to complete as expected right now.

[2020-12-01 19:51] Riebart commented on #4
One last data point, I talked to that guy that had [the working 3070](https://www.reddit.com/r/Alienware/comments/k1507o/rtx_3070_card_working_on_alienware_graphics/), and he has the 300Hz display, which means no iGPU, and therefore no Optimus.

I'm pretty confident now that the issue is Optimus support, with a good chance that once we start to see mobile 30-series parts get closer to launch, we'l

[2020-12-03 19:39] Shidell commented on #4
I do believe Nvidia's drivers are most likely the fault, but whether or not it's Optimus-related (or other) I can't say for sure. In the Alienware post on reddit, I did cite some examples of Nvidia having issues with Alienware/AGA previously, which they later corrected.

Regardless of where the fault likes (Nvidia, Alienware, or both), I can't imagine it being a difficult issue to correct for.

[2021-01-06 00:54] ProgrammerBruce commented on #1
Test 1: Alienware 17 R4 w/1080 internal and w/PNY 1070 Ti in AGA.
NVIDIA GeForce Game Ready Driver: 460.89
Device Manager: Happy
OpenCaldera 0.1.1.0
Reading Alienware Graphics Amplifier BIOS Properties:
Is Present:                     True
Is Connected:                   True
Is Card Type Supported:         True
Is Restart Pending:             False
Is Undock Request Set:          False
Is Surpris

[2021-01-06 20:09] cyberant-security opened #5 "Error running 0.1.1.0"
My system:
Windows 10 64 Bit 20H2
Alienware M15 R2 with AGA running with RTX 2060 Ti (with Error Code 31 in Device Manager)
Dot Net 4.8 is installed

Running Opencaldera 0.1.1.0 from the release download  I get an error. also tried compiling from source and errors also.

OpenCaldera 0.1.1.0

Unhandled Exception: System.TypeLoadException: Could not load type 'AlienLabs.GraphicsAmplifier.Domain.Grap

[2021-01-07 20:50] Shidell commented on #5
Do you have the Alienware Control Center or Alienware Graphics Amplifier software installed?

[2021-02-25 05:14] wildonrio opened #6 "Radeon RX 6900 XT incompatibility with new m15 R4 released a month ago"
Hello! First of all, thank you so much for creating this. In anticipation of using your software, I bought a $4500 m15 R4 with specs maxed out and the best AMD card available. I was very sad to learn that it does not yet work with a 6900 XT, but I am hopeful you are willing to work with me until it does. I have 21 days left to take back this computer.

The main issue seems to be that the new m15's

[2021-02-25 06:43] Shidell commented on #6
You're correct—older Alienware models need to install the Graphics Amplifier (standalone) software, whilst newer models have support integrated into the Alienware Control Center, which you already have.

Did you test with 0.1.0.0 or 0.1.1.0? 0.1.1.0 should have support for the AWCC software as well as the stand-alone Graphics Amplifier install, and so I'd expect 0.1.1.0 to work on your system.

If

[2021-02-25 07:01] wildonrio commented on #6
I tested 0.1.1.0. The 980 Ti appears in Device Manager but the 6900 XT does not.

On Wed, Feb 24, 2021 at 11:44 PM Shidell <notifications@github.com> wrote:

[2021-02-25 07:12] Shidell commented on #6
Do you have another system you can test the 6900 on to ensure it's working properly? Is there any firmware updates available for your M15 R4?

[2021-02-25 07:16] wildonrio commented on #6
Yes I have another system I can test it in tomorrow. I also have all firmware updates on my R4. I will get back to you soon.

[2021-02-26 03:13] wildonrio commented on #6
I’ve confirmed the card works on another system.

[2021-02-26 18:14] Shidell commented on #6
It's strange that your 6900 XT doesn't show up in the Device Manager whatsoever—that's new behavior, as far as I'm aware. All GPUs, including models that aren't working (RTX 3000 series), at minimum show up in the Device Manager.

When you insert the 6900 XT into the AGA and connect it to your laptop, when you power it on, can you confirm that the card lights up and the fans spin briefly upon POST

[2021-02-27 04:26] wildonrio commented on #6
The card lights up and the fans spin the whole time when I turn on the AGA. I am using both 2x8 plugs of power. It's a Gigabyte AMD Radeon RX 6900 XT 16GB and it's brand new.

I've ordered a Corsair CX650M that will be here Sunday. Then I'll install that and see if it fixes the problem. I might try your suggestion using my other computer's cables tomorrow if I have time and am anxious to know. If

[2021-03-03 03:32] wildonrio commented on #5
I am not the OP, but am getting the exact same error message in OpenCaldera. My system is quite different however. I have an m15 R4 running an EVGA 3090 FTW3 Ultra installed in my AGA. I also got the same error message when running a Gigabyte RX 6900 XT, so it does not appear to be related to the type of card installed.

In Device Manager, my 3090 shows Error Code 31, but my 6900 XT doesn't show u

[2021-03-03 03:37] wildonrio commented on #6
I replaced my PSU with a CX650M, but the 6900 XT still does not show up in Device Manager. My 3090 **does** show up in Device Manager, but with Error Code 31. Both cards throw the same error when running OpenCaldera that I mentioned in the OP:

Unhandled Exception: System.TypeLoadException: Could not load type 'AlienLabs.GraphicsAmplifier.Domain.GraphicsAmplifierBIOSProvider' from assembly 'Graphi

[2021-03-04 02:34] Shidell commented on #6
Have you updated to the latest firmware for the M15 R4?: https://www.dell.com/support/home/en-us/product-support/product/alienware-m15-r4-laptop/drivers

System firmware 1.1.0, and GeForce Firmware X00?

In addition to adding support for SAM, this might change how things are detected and how resources are initialized on the M4.

What's the version of your Program Files\Alienware\Alienware Command

[2021-03-04 03:34] wildonrio commented on #6
All firmware up to date.

My GraphicsAmplifier.Domain.dll is also version 1.6.0.0; however it is dated 12/14/2020 not 5/27/2020.

My AWCC is version is 5.2.106.0.

[2021-03-04 03:38] Shidell commented on #6
Can you package your GraphicsAmplifier.Domain.dll (zip) and host it somewhere? I can download it and see if I can discover anything different.

Does your model's firmware offer you any settings to selectively disable the iGPU or dGPU?

[2021-03-04 03:45] wildonrio commented on #6
[Here you go.](https://wetransfer.com/downloads/3911cddea5014c3d5b756e8fd5a411af20210304034252/251b5f0e05d3ee7c3e51d4aa8835e84c20210304034316/87f444?utm_campaign=WT_email_tracking&utm_content=general&utm_medium=download_button&utm_source=notify_recipient_email)

Can't I just disable my iGPU within Device Manager?

[2021-03-04 04:11] Shidell commented on #6
Potentially—but, also, potentially not. Some models have a physical MUX switch, others have software options. Do you have a software option in your firmware settings?

[2021-03-06 06:54] Shidell commented on #6
@wildonrio I inspected the GraphicsAmplifier.Domain.dll you provided, and don't see any appreciable difference between it and my own. If you're sure you tested with 0.1.1.0, then I don't have an explanation for the error you're encountering (but if you did use 0.1.0.0, it would make sense.)

Granted, this project is probing what's accessible to me outside the framework of Alienware/Dell, so incomp

[2021-03-19 18:56] LordRafa opened #7 "PCB hight res pics request"
Hello,

After take a look to some old Alienware laptop schematic, I would say that the caldera connector is just a proprietary connector with a PCIE 4X repeater connected to it, so I don't understand why you are having any trouble with the RTX 30xx.

If you don't mind it would be really helpful if you could take some hight res pictures to the AGA PCBs to have a better understanding about what is g

[2021-03-30 18:35] mission-k commented on #6
Same Problem with the M17 R4 and the AGA with RX 6900 XT. I got the following message:

Unhandled Exception: System.TypeLoadException: Could not load type 'AlienLabs.GraphicsAmplifier.Domain.GraphicsAmplifierBIOSProvider' from assembly 'GraphicsAmplifier.Domain, Version=1.6.0.0, Culture=neutral, PublicKeyToken=bebb3c8816410241'.
at OpenCaldera.Program.ReadAGABIOSProperties()
at OpenCaldera.Program

[2021-03-30 18:35] mission-k commented on #6
Same Problem with the M17 R4 and the AGA with RX 6900 XT. I got the message:

Unhandled Exception: System.TypeLoadException: Could not load type 'AlienLabs.GraphicsAmplifier.Domain.GraphicsAmplifierBIOSProvider' from assembly 'GraphicsAmplifier.Domain, Version=1.6.0.0, Culture=neutral, PublicKeyToken=bebb3c8816410241'.
at OpenCaldera.Program.ReadAGABIOSProperties()
at OpenCaldera.Program.Main(Stri

[2021-03-30 18:40] Shidell commented on #6
@ThoKris Is your 6900 XT recognized in the Device Manager? If so, does it work, or does it have an exclamation point?

[2021-03-30 18:43] mission-k commented on #6
I have the Code 31 with one PCI Express upstream and the 6900 XT isn't recognised

[2021-03-30 18:43] ThoKris commented on #6
I have the Code 31 with the PCI Express upstream and the 6900 XT isn't recocniced

[2021-03-30 18:46] Shidell commented on #6
Unfortunately, that sounds like the same error wildonrio is seeing. I don't have an explanation for that, aside from (assuming) Dell's made changes in the firmware of the R4 that isn't supporting certain GPUs for some reason.

[2021-03-30 18:47] mission-k commented on #6
Thank you. So i have to wait for better times ;-)

[2021-03-30 18:50] Shidell commented on #6
Yeah, I'm sorry to report as much. If you have a friend or family member with other model GPUs, if you can test those and report whether or not they work, that would be helpful.

[2021-03-30 20:24] Shidell commented on #6
@ThoKris @wildonrio Nvidia released new mobile drivers for the 3000 series today (https://www.nvidia.com/Download/driverResults.aspx/172063/en-us), can either of you try installing these and then see if it changes how your GPUs are recognized in the Device Manager afterward?

[2021-03-31 01:39] wildonrio commented on #6
I confirm that while my 3090 previously did not work
(error in Device Manager), it now works fine after this update. There was also an update to Command Center; not sure if that’s related. I’m happy. Have not tested 6900 XT yet.

Tyler

[2021-03-31 03:48] Shidell commented on #6
@wildonrio That's awesome! Congrats!

Do you by chance still have the 6900 XT, in that you could test it as well?

@ThoKris

[2021-03-31 10:42] mission-k commented on #6
I uninstall the old nvidia driver with ddu, installed the new one.

i restarted the m17 r4, plugged in the aga with rx 6900xt when windows is ready (see desktop). after some seconds i got the same error code 31 ![image](https://user-images.githubusercontent.com/81646630/113132222-72f0f400-921e-11eb-8941-3a4c4f64bdad.png) and no rx 6900 xt has found ![mmc_lla3LoHqZp](https://user-images.githubuserc

[2021-03-31 16:07] Shidell commented on #6
Hm, interesting. @ThoKris Do you have all of the latest Alienware firmware updates installed, including the VBIOS update to enable Resizable BAR?

[2021-03-31 16:21] Shidell commented on #6
@wildonrio Can you confirm that SAM works on your integrated (dGPU)? What about your 3090?

[2021-04-01 05:40] mission-k commented on #6
@Shidell yes, latest BIOS, VBIOS and driver except the "newest-old" Dell nvidia driver. I am using the driver directly from geforce experience / the nvidia homepage.  I am using the latest BIOS 1.3.1 from Alienware, could this be the problem?

[2021-04-01 06:53] Shidell commented on #6
@ThoKris Yeah; you need to be using the absolute latest driver (from Nvidia), the latest drivers offered by Dell won't cut it.

It sounds like your BIOS is up-to-date (1.3.1), and your VBIOS is up-to-date (X00), too, so the last piece of the puzzle is to install the latest drivers from Nvidia: https://www.nvidia.com/Download/driverResults.aspx/172063/en-us

The 465.89 drivers are what are hypothet

[2021-04-01 07:08] mission-k commented on #6
I have the latest driver and ResBar is activ. No possibility to see and find the RX 6900 XT. The Code 31 is already there.
![nvcplui_tKAFNFS15R](https://user-images.githubusercontent.com/81646630/113256164-15fe4800-92c9-11eb-8146-72e8a45aa4af.png)
![aswmve8qcW](https://user-images.githubusercontent.com/81646630/113256169-17c80b80-92c9-11eb-97cd-631365d1c985.png)

I see no further option for me. Th

[2021-04-07 16:52] Shidell commented on #6
@wildonrio Can you confirm that SAM works on your integrated (dGPU)? What about your 3090? Have you tried your 6900 XT as well yet?

[2021-04-16 10:14] mission-k commented on #6
I am in contact with Dell Premium Support. At the moment we got no solution for me. I saw, the PCI Upstream driver is from 2006. Is this the normal driver date?

[2021-04-17 00:45] Shidell commented on #6
@ThoKris I don't think I can answer that question.

[2021-04-22 11:55] mission-k commented on #6
My odyssee is at its end, without a working AGA. I think, it is not possible to combine m17r4 2021 with AGA and RX 6900 XT.

[2021-04-22 16:05] Shidell commented on #6
@ThoKris I'm sorry it's come to that. I wish I could help you further; I wish I had an R4 here locally I could test.

I'm debating buying an Open-Box M17 R4 from Best Buy to see if my experience mimics your own. Would that interest you, or are you indifferent or would rather I do not?

EDIT: Also, what became of your efforts with Dell Support? What'd they say/do? Did they tell you it won't work, o

[2021-04-24 20:50] Shidell commented on #6
@ThoKris The M15 R4 arrived, but it's defective—it shouldn't have been resold open-box. It will only stay on for 30 seconds at a time; I had to return it.

I've ordered another one (expected on Tuesday), I'll keep you posted.

[2021-04-25 05:55] mission-k commented on #6
I am interested! Amazing! The AGA and g-card is ready for testing.

to Edit: Dell Support said, it is not official supported but should work. They tried every "dirty" trick that i know from reddit e.g. Different start sequences with unpluggin and pluggin the cables, uninstall drivers with DDU. Edit / cleaning the registry after uninstalling the drivers. They really tried everything i think.

to Ed

[2021-04-29 19:10] Shidell commented on #6
@ThoKris I've got a functional M15 R4 now, and regret to say that I'm experiencing the same trouble you are—my 6900 XT shows up as an "Upstream switch port", despite having the same HWID as the 6900 XT does normally (as a display adapter.)

I was unable to find a resolution for this, sadly.

I did take my 6900 XT out and installed an RX 7790 in the AGA, and can report that it did detect and work p

[2021-04-30 07:51] mission-k commented on #6
You are awesome. Thank you!
So the eGPU via TB3 solution is okay for me. The 1% is sometimes bad, but I can go with it.
Were can I open a ticket for AMD to report the problem?

Do you want to sell me your RTX 3090 :-D.

[2021-04-30 15:29] Shidell commented on #6
@ThoKris I'm glad it's working out that way for you. :) I have a 6900 XT, but no 3090. :)

[2021-05-11 22:50] Shidell commented on #6
@ThoKris Do you still have your 6900 XT? I think I've found a solution, I'd like you to try it as well, if you can.

[2021-05-12 03:54] mission-k commented on #6
@Shidell Awesome. Yes, i still work with it. I am looking forward to trying out your solution :-) The eGPU by TB3 is okay, but not my prefferd solution.

[2021-05-12 17:48] Shidell commented on #6
@ThoKris I hear ya; I hope this will fix it for you in your AGA!

Here's what you need to do:

1. Power down (obviously), re-connect your AGA and insert your 6900 XT
2. Power on, and check that you're receiving the error (above) once again
3. Open RegEdit and make the following changes, selecting **200**, following this guide: [Here](https://docs.microsoft.com/en-us/troubleshoot/windows-client/dep

[2021-05-13 06:18] mission-k commented on #6
i don't know how to thank you enough! It is working sooooooo smooth and fast!

![3DMark_q3gMe7QV8d](https://user-images.githubusercontent.com/81646630/118086142-ca5cb500-b3c3-11eb-8da7-f33bebcfa3f5.png)

![3DMark_MaUB8gje2o](https://user-images.githubusercontent.com/81646630/118086120-c3ce3d80-b3c3-11eb-9729-a460b0e2d440.jpg)

![regedit_MdJtXztgpK](https://user-images.githubusercontent.com/8164663

[2021-05-13 12:15] mission-k commented on #6
@Shidell do you want a coffee or beer from me? Send me your PayPal address.

I had a issue after to high overclocking. The graphics card stopped working. I had to reinstall the driver. Now everything is working fine. So I think it is stable and futureproof solution. I am using a seasonic titanium psu. So the whole system is silent

[2021-05-13 16:55] Shidell commented on #6
@ThoKris Awesome! I'm glad it's working for you too!

Thanks so much for the offer—but that's not necessary. I could use your help instead, though, if you wouldn't mind? There's some tests I was meaning to conduct, which require a R4 (as you have) and a TB3 enclosure (which you also have.) Would you be willing to conduct some additional tests to help me gather more information?

1. Your R4 support

[2021-05-14 06:19] mission-k commented on #6
Thank you eternally for letting me feel the real boost of a aaa-graphics card.

**1. I see large memory on 3070 dGPU**
![image](https://user-images.githubusercontent.com/81646630/118227853-8c29c900-b489-11eb-9566-3c0713105344.png)

**but not in the RX 6900 XT resources.**
![mmc_cx40O6Shli](https://user-images.githubusercontent.com/81646630/118227892-9c41a880-b489-11eb-9956-619ca1fa0764.png)

![mmc

[2021-05-15 06:48] Shidell commented on #6
@ThoKris Thanks for providing so much info to help me out. Would you do me one more favor, and try using GPU-Z (2.39.0) to see if it indicates Resizable BAR is enabled for you via TB3 or AGA? Right now, it is indicating that rBAR is, in fact, enabled—despite Alienware having no settings to change or modify in the firmware related to it—which is kinda amazing if true. I was hoping you could try to

[2021-05-15 09:45] mission-k commented on #6
@Shidell  RezBar is enabled in dGPU and disabled in eGPU. TB3 and AGA is the same. TB3 and AGA has the same Bus Interface? GPU-Z is showing me the "PCIe x16 4.0 @ x4 3.0" with both connection-options

![GPU-Z_wEaamRAkTI](https://user-images.githubusercontent.com/81646630/118355885-d6d34000-b572-11eb-9cd8-fe1c5823528d.png)

![GPU-Z_6rW0UaIxgT](https://user-images.githubusercontent.com/81646630/1183

[2021-06-04 23:26] rjensen26 commented on #6
I am running AMD Radeon RX 6800 XT and I am having the same issue. I know this has nothing todo with the software. I currently have an Alienware area51m r2. So I am not able to install he Alienware graphics amplifier  software since it was disabled.

I tried the regedit and that did not appear to actually not to work. I am going to try a few more things and report back.

[2021-06-13 19:23] Shidell commented on #6
@ThoKris Is the second screenshot of a connection to your 6900 XT in the TB3 enclosure or in your AGA?

For reference, my 6900 XT in the AGA is being reported as "Resizable BAR: Enabled":

![image](https://user-images.githubusercontent.com/13051323/121819478-e23d8800-cc52-11eb-88e7-6e99a1469f98.png)

[2021-06-13 19:43] Shidell commented on #6
@rjensen26 Did you get things working?

[2021-06-14 02:24] rjensen26 commented on #6
@Shidell , Yes I did end up getting it working after re-doing the `regedit` I ended up doing the wrong folder. I did a time spy test ended up around `17253` graphics score.

[2021-06-14 04:13] Shidell commented on #6
@rjensen26 Glad to hear it! 👍

[2021-07-03 23:06] jimblust opened #8 "RTX 3080ti issue with Alienware m15 R3"
I have an Alienware m15 R3 that I’m trying to get working with my Alienware Graphics Amplifier (upgraded with a Corsair CX650M power supply) and an RTX 3080ti. My m15 R3 has an onboard RTX 2070 Super and Intel UHD 630 Graphics, 300Hz non-gsync display, and latest BIOS 1.8.0. I’m using the Nvidia 471.11 notebook driver.

I’ve tried various things. After running DDU, installing 471.11 without AGA to

[2021-07-05 21:25] Shidell commented on #8
Do you have a hardware (or software) MUX switch where you can disable the 2070? I'm curious if that's an option to try (WRT the 3080Ti.)

[2021-07-05 21:53] jimblust commented on #8
No, I did find this thread referencing Fn-F7 for the mux on the m15 R3 with the 144Hz display, but that key doesn't isn't labeled for a Fn function on my keyboard with the 300Hz display and pressing it doesn't do anything (including after installing the Alienware On Screen Display app).

https://www.dell.com/community/Alienware/m15-R3-using-MUX-switch-to-integrated-graphics/td-p/7650019

[2021-08-26 06:51] mission-k commented on #6
@Shidell i am running Windows 11 since 2 days with a working AGA and RX 6900 XT. I am already using the HackFlag entry in my registry.

[2021-08-26 16:11] Shidell commented on #6
@ThoKris Thanks for the report; I too am running Windows 11, and after re-enabling the HackFlags (200) setting, am working fine as well.

[2021-11-23 20:38] xD3XT3Rx opened #9 "Asus tuf rx6800xt does not turn on with AGA"
Hello, excuse me, my English, I only speak Spanish.
I have been trying to solve my problem for days I have read hundreds of forums even without a solution, I have a graphics amplifier that I bought new on ebay, the model is z01g and I have a laptop alienware area 51m R2 core i7 10700 ram 2933 bios capped I do not have access to options advanced. when i connect the amplifier with a gtx 1660 or nvid

[2021-11-24 04:39] Shidell commented on #9
@xD3XT3Rx I apologize, I don't speak Spanish, so I hope a response in English is helpful. (For what it's worth, your English is pretty good.)

Your Area-51M R2 should work correctly with the RX 6800 XT. As connected right now, do you have a Device Bang (Yellow Exclamation Point) in the Device Manager under "System" when booting with the 6800 XT attached?

I think you need to enable "HackFlags" (20

[2021-11-24 14:12] #9 closed, assigned to nobody

[2021-11-24 14:12] xD3XT3Rx commented on #9
hi thanks for your help, but this is not working for me. I already problem this before without success. I think it is the solution for those who have the yellow symbol in the task manager. but I don't have a yellow symbol. the 6800xt is not detected anywhere. This failure is strange, it works for others but not for me. after analyzing the operation of the AGA this turns on the card when windows is

[2021-11-24 14:14] xD3XT3Rx commented on #9
hi thanks for your help, but this is not working for me. I tried this before without success. I think it is the solution for those who have the yellow symbol in the task manager. but I don't have a yellow symbol. the 6800xt is not detected anywhere. This failure is strange, it works for others but not for me. after analyzing the operation of the AGA this turns on the card when windows is starting.

[2021-11-24 18:23] Shidell commented on #9
It "should" work; I haven't encountered anyone where this hasn't worked, albeit some have required more effort to figure out the reason why.

Is your 51M R2 running the latest firmware, 1.10.0?

Are you running Windows 11?

Do you have the latest Intel Chipset INF drivers installed?

It could also be, that for whatever reason, your PSU isn't able to supply enough power to the 6800 XT to allow it t

[2021-11-25 05:52] xD3XT3Rx commented on #9
I am using windows 10 the bios is updated to the latest version. the AGA ran today with an rtx2080ti that I borrowed from a friend to test. I tried an 850w source with no success on my 6800xt. the AGA does not turn on the 6800xt and 6600xt but with nvidia it works fine. I am frustrated with this. I think it is something in the bios that prevents the AGA from turning on the 6000 series cards. I've

[2021-11-25 05:57] Shidell commented on #9
Is there perhaps a different (updated?) firmware for the RX 6800 XT you have?

This would be the first system I've encountered that simply is not/does not work, so I suspect there's something else going on that's causing it to not work, aside from a general inability to do so.

[2021-12-28 13:37] ALEX8642 commented on #8
I have the same setup and issue with an m15r3 and TUF 3090 in the AGA. I actually get different codes sometimes though. 31 with or without hackflags, code 12 sometimes... Haven't seen 43 though. Setting hackflags to 600 just makes my system crash too BSOD (DRIVER DMA VIOLATION). I'd really like to use the AGA instead of having to use a TB3 enclosure device. Oh and every time I try this it breaks m

[2022-01-01 15:48] Shidell commented on #8
@ALEX8642 Are you using Win11? The latest Nvidia drivers? Is your firmware up-to-date?

Assuming everything is up-to-date, if you don't have a MUX switch (physical and/or software/BIOS), I'm not sure what might be causing the issues you're seeing. Do you have a custom PSU in your AGA? The stock PSU isn't sufficient for a 3090 and might be causing random errors/failures.

[2022-01-01 16:28] ALEX8642 commented on #8
Hi @Shidell Alienware m15r3 (i9-11980, RTX 2070S, but its basically garbage because it has never been able to produce a stable framerate even after a repaste and custom tuning/undervolting. Of course Alienware did not consider that enough for warranty, but that is another story)... That was one reason I wanted this to work... Going back to the original issue though (apologies) everything was up to

[2022-01-03 21:15] Shidell commented on #8
@ALEX8642 I do believe one other individual with an R3 had problems getting this solution to work; unfortunately, without having access to an R3, there's little I can do in terms of troubleshooting--if I could get my hands on one, I'd love to do so, but as you can imagine, it isn't very feasible short of buying one for myself, which isn't practical.

With respect to the CPU/GPU and framerate/temps

[2022-01-03 22:32] ALEX8642 commented on #8
@Shidell Correct. Hackflags 600 of course being the one that somehow caused total windows failure. With hackflags 200 it would switch to intel graphics and throw a code 12 or 31 for the laptops 2070S (this includes the regular reinstall while the 3090 was still plugged in - plus several reboots - code would not go away with or without the 3090), requiring a complete scrubbing of Nvidia drivers (DD

[2022-01-03 22:49] Shidell commented on #8
@ALEX8642 Have you checked for an enable/disable toggle in the firmware? Does your model have a physical MUX switch?

[2022-07-23 13:10] StevenLyo commented on #6
Hello guys, first sorry for my poor English. And thanks for the help from Shidell and ThoKris, I've tried to use the method and succeeded in dealing with the issue on my M17R4. But there's a question: As expected the question is in BIOS and PCIE resource management. How to solve this problem completely on other OS? For example Monterey or Linux :)

[2022-07-25 16:01] Shidell commented on #6
@StevenLyo As far as I understand, the HackFlags settings are only necessary on Windows. I believe other OSes (Linux/Unix-based) work fine without issue, but no-one running *nix has confirmed.

[2022-09-26 19:05] tbbennett2121 opened #10 "Alienware M17 R4, 2022"
AGA configured and attached but won't power up--PSU works, but laptop right now doesn't see anything.  Running OpenCaldera.exe from an elevated Command Prompt in Windows 11 provides the following output:

Unhandled Exception: System.TypeLoadException: Could not load type 'AlienLabs.GraphicsAmplifier.Domain.GraphicsAmplifierBIOSProvider' from assembly 'GraphicsAmplifier.Domain, Version=1.6.0.0, Cul

[2022-09-26 19:10] Shidell commented on #10
Is your laptop's firmware up to date? What GPU are you using in the AGA? Does it power up when you turn the laptop on? Is it recognized in the Device Manager, with or without an exclamation point? Do any other new devices show up?

[2022-09-26 21:57] tbbennett2121 commented on #10
Hi Shidell!  Thank you for the quick response.

This is an Alienware m17R4, purchased in 2021, with the following details:
Yes, firmware is up to date, just checked again this morning including a check of the VBIOS for the built-in card.
Intel Core i9 10980HK processor
32GB DDR4 2933 RAM
RTX 3070 8GB (also using latest nVidia drivers + GeForce experience)

The AGA contains an RTX 2080 TI FE
The AG

[2022-09-27 00:21] tbbennett2121 commented on #10
Update:

  1.  I started down this road because I couldn't get a version of the Dell AGA driver compatible with Windows 11 - all others would refuse to install with a 'not compatible' message.
  2.  I just happen to have a second AGA--I bought one for me and one for my daughter who is an animator.  I put the second AGA together, and that one would at least power on
  3.  Windows 11 then decided th

[2022-09-27 04:32] Shidell commented on #10
@tbbennett2121 OK, there's a couple of things that could be at play in you/your daughter's situation. Does she have the same make/model?

- First, if the second AGA will power on (but yields a BSOD or a Not Compatible message (?)), I'd encourage you to check the first AGA again, and make sure the PSU power cables are seated properly in the 2080Ti FE. **The stock AGA PSU is rated for 460w but can l

[2022-09-27 18:51] tbbennett2121 commented on #10
I can't thank you enough for this advice. I'll have more to say later when I can try this but it's on hold for now due to a coming storm. I should be responding again later this weekLooking forward to seeing if I can get this working! On Sep 27, 2022 12:32 AM, Shidell ***@***.***> wrote:

@tbbennett2121 OK, there's a couple of things that could be at play in you/your daughter's situation. Does she

[2022-09-29 14:22] dongngm opened #11 "M15 R2 and RTX 3070"
Hi,

Recently I bought a Zotac rtx 3070 to put into the AGA. Sadly when I turn it on, the card does not show up in Device Manager. I have confirmed that the AGA is still working fine by swapping with an old RX 460. I've also confirmed that the card is working fine in another system before buying it.
I try to run Caldera but it throws some errors.
I really don't know what to do next. Could you plea

[2022-09-29 16:29] Shidell commented on #11
@dongngm Zotac GPUs are notoriously bad for compatibility with the AGA for reasons unknown, suspected as a firmware issue (on the GPU itself.) I would recommend returning the Zotac and choosing a different manufacturer.

[2022-10-01 12:56] dongngm commented on #11
@Shidell thank you so much. It's indeed the incompatibility with Zotac cards. I have tried another Zotac and it didn't work either. I switched to a Gigabyte and now all is fine although having some trouble with installing drivers. After many trials and errors this works best for me:
- uninstall drivers using DDU, disable automatic Windows driver installation (in DDU also)
- install the driver from

[2022-10-03 02:10] tbbennett2121 commented on #10
Hi Shidell:
It's taken me longer than I expected, but I wanted you to know that I did spend time carefully testing OpenCaldera on more than one machine.  I now need to organize the results in an easy-to-post way and I'll reply back here as soon as I have that information.  Long story short, I loved the Reddit thread, that was huge, and I have three machines in my home that I slowly walked through

[2022-10-03 20:02] Shidell commented on #11
@dongngm Awesome! Thanks for confirming, and for the additional testing you did for the benefit of others.

[2022-10-12 00:54] tbbennett2121 commented on #10
Sorry for the delay - we lost time (but nothing else) due to Hurricane Ian and then I had to go out of town.  So now I have some information for you and I'll give you an overview.  All machines are running Windows 10 Pro 64-bit and all firmware/drivers are up to date.

Look over what you find useful, ignore the rest, and let me know if you have questions or would like me to try anything different.

[2022-10-12 03:18] Shidell commented on #10
@tbbennett2121 Sorry to hear you were affected by Ian, but glad you're OK and didn't suffer anything more than loss of time.

I looked over your information and believe everything is looking good; the AGA is working as expected, with the external GPU being detected and installed in each system, and (seemingly?) used. You don't need to install any drivers for the AGA, so don't worry about that pack

[2022-10-12 23:31] tbbennett2121 commented on #10
Whoops - I thought I had also shared the Windows Control Panel screen that I'm seeing in Win 10 Pro:

![Windows-Control-Panel_GPU-Options-1](https://user-images.githubusercontent.com/114438085/195466043-523c5f75-7619-41e7-964c-1cc6bc1cd8e0.jpg)

![Windows-Control-Panel_GPU-Options-2](https://user-images.githubusercontent.com/114438085/195466070-06a0d787-e02d-42ce-a695-edbe6d7e4ed5.jpg)

This helps

[2022-10-13 08:33] #11 closed, assigned to nobody

[2022-10-17 20:07] Shidell commented on #10
1. Yeah; you could try, for example, running 3DMark on the laptop display and external display, and comparing results. Again, you can select the GPU to be used, so it's a good testing tool.
2. Win11's ability to select/prioritize the GPU to be used is really nice; it might be a selling point in and of itself for users like ourselves, with eGPU setups—if Windows 10 doesn't provide any similar mecha

[2022-11-25 02:26] yitelu opened #12 "Alienware 13 R3 Bios 1.18.0 not working with AMD Radeon RX 6600"
Hi,

Thanks for your OpenCaldera project, but unfortunately that didn't work on my AMD RX 6600 with AW 13 R3

AW laptop: Alienware 13 R3 Bios v1.18.0 on Win10 22H2
Graphics card: AMD Radeon RX 6600 (brand new)

- [x] Checked all the windows updates and drivers are latest.
- [x] Checked that graphics card didn't power up and gpu fan didn't spin when I turn the laptop on
- [x] Confirmed GPU RX6600 n

[2022-11-25 17:42] Shidell commented on #12
So, to be sure, the RX 6600 powers up when you turn the laptop on?

Do you have any other desktop GPU you could test with in the AGA, even if older? Do you have another computer you can test the RX 6600 in to verify it's working?

[2022-11-27 01:20] yitelu commented on #12
the RX 6600 powers up when you turn the laptop on? -> **No, RX6600 fan didn't turn on, no fan spinning and didn't pick up any device in window's device manager.**

Do you have any other desktop GPU you could test with in the AGA, even if older? -> **I've tried the nVidia GTX1650 in AGA and gtx1650 worked with AGA smoothly without any issue.**

Do you have another computer you can test the RX 6600

[2022-11-27 01:20] #12 closed, assigned to nobody

[2022-11-28 03:32] Shidell commented on #12
@yitelu  Hm, that's odd behavior. The 6600 should, at minimum, light up and the fans should spin when you power on your laptop. The fact that it does not implies that it's not receiving power--or not receiving enough power--to operate properly. But, that's also weird, as the RX 6600 should only draw 132W, using a single 8-pin connector. I don't see why the GTX 1650 would work, but the RX 6600 woul

[2022-11-28 05:42] yitelu commented on #12
What make/model is your 6600? -> MSI
Is it possible it was not seated properly/fully in the AGA? -> no, it's the same installation method as Nvidia GTX1650 that proof i know how to install it properly.
Is it possible you forgot to connect the 8-pin power adapter from the PSU while you were testing? -> I wish it was that easy but no.

Btw the firmware in rx6600 is already the latest, anyway I've co